<!--
  Generated template for the CarrelloPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Carrello</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding lazy-scroll class="noPadding">
  <ion-list>
    <ion-item-sliding #item *ngFor="let prod of listProduct">
      <ion-item>
        <ion-thumbnail item-start>
          <img src={{prod.img}} class="thumbnailContainer">
        </ion-thumbnail>

        <h2 class="truncate"><strong>{{prod.nome }}</strong></h2>
        <p>
          Prezzo: {{prod.prezzoScontato | currency:'EUR'}} <br>
          Marca: {{prod.marca}}<br>
          Quantità: {{prod.quantitaDaAcquistare}}
        </p>
      </ion-item>

      <ion-item-options side="left">
        <button ion-button (click)="reduce(prod)">
          <ion-icon name="remove"></ion-icon>
          Elimina uno
        </button>
        <button ion-button (click)="delete(prod)">
          <ion-icon name="trash"></ion-icon>
          Elimina tutti
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <div *ngIf="listProduct.length != 0">
    <hr>

    <h3>
      <strong>Totale: {{totale | currency: 'EUR'}}</strong>
    </h3>

    <button ion-button (tap)="checkOut()">
      Vai al Check-Out
    </button>

  </div>
</ion-content>
